*.user
.DS_Store
.vs/
.vscode/
.zed/
.idea/misc.xml
CMakeUserPresets.json
cmake-build-*/
[bB]uild/
_[bB]uild/
deploy/
_deploy/
[lL]ib/
[pP]ackage/
venv/
site/
include/cerlib/Version.hpp
.idea/misc.xml
